*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "NanumGothic";
}

:root {
  --color_title: #080808;
  --color_title_rgb: 8, 8, 8;
  --color_body: #101010;
  --color_body_rgb: 16, 16, 16;
  --color_caption1: #404040;
  --color_caption1_rgb: 64, 64, 64;
  --color_caption2: #606060;
  --color_caption2_rgb: 96, 96, 96;
  --color_caption3: #555558;
  --color_caption3_rgb: 85, 85, 88;
  --color_search: #000;
  --color_search_rgb: 0, 0, 0;
  --color_border_out: #e3e5e8;
  --color_border_out_rgb: 227, 229, 232;
  --color_border_in: #ebebeb;
  --color_border_in_rgb: 235, 235, 235;
  --color_border_in_divider: #ebebeb;
  --color_border_in_divider_rgb: 235, 235, 235;
  --color_border_in_exception: #ebebeb;
  --color_border_in_exception_rgb: 235, 235, 235;
  --color_button_border: #dadcdf;
  --color_button_border_rgb: 218, 220, 223;
  --color_dot_divider: #d3d5d7;
  --color_dot_divider_rgb: 211, 213, 215;
  --color_block_bg: #fff;
  --color_block_bg_rgb: 255, 255, 255;
  --color_board_bg: #f4f6fa;
  --color_board_bg_rgb: 244, 246, 250;
  --color_option_bg: #f5f7f8;
  --color_option_bg_rgb: 245, 247, 248;
  --color_login_bg: #fafbfb;
  --color_login_bg_rgb: 250, 251, 251;
  --color_menu_widget_bg: #fff;
  --color_menu_widget_bg_rgb: 255, 255, 255;
  --color_setting_bg: #fff;
  --color_setting_bg_rgb: 255, 255, 255;
  --color_button1_bg: #fff;
  --color_button1_bg_rgb: 255, 255, 255;
  --color_button2_bg: #fff;
  --color_button2_bg_rgb: 255, 255, 255;
  --color_news: #3a67ea;
  --color_news_rgb: 58, 103, 234;
  --color_news_econ_stay: #909aab;
  --color_news_econ_stay_rgb: 144, 154, 171;
  --color_news_econ_down: #4f67d6;
  --color_news_econ_down_rgb: 79, 103, 214;
  --color_live_news_price: #f4361e;
  --color_live_news_price_rgb: 244, 54, 30;
  --color_enter: #e538e2;
  --color_enter_rgb: 229, 56, 226;
  --color_enter_bg: #f2f1fb;
  --color_enter_bg_rgb: 242, 241, 251;
  --color_sports: #1f65ef;
  --color_sports_rgb: 31, 101, 239;
  --color_sports_bg: #f4f7fe;
  --color_sports_bg_rgb: 244, 247, 254;
  --color_econ: #008f76;
  --color_econ_rgb: 0, 143, 118;
  --color_calendar: #eb5b5b;
  --color_calendar_rgb: 235, 91, 91;
  --color_dic: #031f5f;
  --color_dic_rgb: 3, 31, 95;
  --color_shop: #9858f5;
  --color_shop_rgb: 152, 88, 245;
}

#wrap{
  min-width: 1340px;
  color : --color_body;
  text-align: center;
}

#header{
  display: inline-block;
  width: 1280px;
  height:215px;
  background-color: rgb(165, 165, 165);
}

/* 버튼 관련 css */
#header-buttons-left{
  width:640px;
  float : left;
  text-align: left;
}
#header-buttons-right{
  width:640px;
  display: inline-block;
  text-align: right;
}
#header>[id*="buttons"]>button{
  background: none;
  border: none;
  display: inline-block;
  width: 48px;
  height: 48px;
  padding : 8px
}
#header>[id*="buttons"]>button:hover{
  border-radius: 50%;
  background-color: var(--color_button_border);
  cursor: pointer;
}
#header>[id*="buttons"]>button>[id$=icon]{
  background-image: url(./img/naverUI.png);
  background-repeat: no-repeat;
  width: 32px;
  height: 32px;
  background-size: 443px 424px;
}
#header-hamberger-icon{
  background-position: -285px -214px;
}
#header-pay-icon{
  background-position: -33px -287px;
}
#header-navertalk-icon{
  background-position: -165px -287px;
}
#header-alrat-icon{
  background-position: -246px -229px;
}
#header-shoping-icon{
  background-position: -99px -287px;
}
/* 검색창 관련 css */
#header-search{
  text-align: center;
}
#header-searchbar-background{
  display: inline-block;
  width:708px;
  height: 60px;
  border : 1px solid #03c75a;
  border-radius: 33px;
  background-color: #ffffff;
  text-align: left;
  position: relative;
}
#header-searchbar-linknaver{
  width: 67px;
  height: 58px;
  padding :17px 16px 17px 27px;
  float:left;
}
#header-searchbar-linknaver-icon {
  width: 24px;
  height: 24px;
  fill : #03c75a;
}
#header-searchbar-textarea{
  border: none;
  outline: 0;
  width: 480px;
  height:58px;
  font-size: 2rem;
  line-height: 58px;
  font-weight: bold;
}
#header-searchbar-inputcontroller{
  width:30px;
  height: 58px;
  background: none;
  border:none;
  cursor: pointer;
  padding: 22px 3px;
  float:right;
}
#header-searchbar-inputcontroller-icon{
  width: 24px;
  height: 14px;
  background-image: url(./img/naverUI.png);
  background-size: 443px 424px;
  background-position: -278px -270px;
  background-repeat: no-repeat;
}
#header-searchbar-searchlist{
  width: 22px;
  height: 58px;
  border:none;
  background: none;
  padding: 26px 6px;
  float:right;
}
#header-searchbar-searchlist-icon{
  width: 10px;
  height: 6px;
  background-size: 443px 424px;
  background-repeat: no-repeat;
  background-image:url(./img/naverUI.png);
  background-position: -112px -98px;
}
#header-searchbar-search{
  width: 62px;
  height: 58px;
  background: none;
  border: none;
  padding:17px 27px 17px 10px;
  cursor: pointer;
  float:right;
}
#header-searchbar-search-icon{
  display: inline-block;
  width: 25px;
  height: 25px;
  fill: #03c75a;
}
/* 네비게이션 바 관련 css */
#header>#header-nav{
  position: relative;
  width: 100%;
  text-align: center;
  margin-top: 20px;
}
#header>#header-nav>ul{
  list-style-type: none;
  display: inline-block;
  text-align: center;
  height: 68px;
}

#header>#header-nav>ul>li{
  display: inline-block;
  width: 64px;
  height: 100%;
  text-align: center;
}

.header-nav-hyperlink{
  text-decoration: none;
  margin-bottom: auto;
}
.header-nav-hyperlink:visited{
  color : black;
}

.service_icon{
  display: inline-block;
  background-image: url(./img/favicon.ico);
  background-size: 443px 424px;
  background-repeat: no-repeat;
  width:40px;
  height:40px
}

.service_name{
  display: block;
}

.type_mail{
  background-position: -244px -41px;
}

